
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

   *{
        padding: 0;
        margin:0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: #f5f5f5;
    color: #121212;
    overflow-x: hidden;
}
a:hover, a{
    text-decoration: none;
}
p{
    margin:0;
}

.products{
    align-content: center
}

.product {
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5%;
}

.product img {
    border-radius: 10%;
}

.ticket {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.form-filter input{
    margin: 30px auto 10px auto;
    height: 50px;
    
}
main{
    width: 90vw;
    margin: 0 auto;
}