
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

   *{
        padding: 0;
        margin:0;
}
:root{
    --txt-red:#f63440;
    --bg-light-white:#f5f5f5;
    --main-font: "Poppins", sans-serif;
    --txt-black: #121212;
    --txt-gray: #ababab;
    --txt-dark-gray: #797979;
}
body {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}
a:hover, a{
    text-decoration: none;
}
p{
    margin:0;
}
#header{
    margin-bottom:100px;
}

.products{
    align-content: center
}

.product {
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5%;
}

.product img {
    border-radius: 10%;
}

.ticket {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.form-filter input{
    margin: 30px auto 10px auto;
    height: 50px;
    
}
main{
    width: 90vw;
    margin: 0 auto;
}