@{
    ViewData["Title"] = "Home Page";
}

    <!-- Home -->
    <section id="home" class="home pt-5 overflow-hidden">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="home-banner home-banner-1">
              <div class="home-banner-text">
                <h1>Kobiety</h1>
                <a href="#" class="btn btn-danger text-uppercase mt-4">Produkty</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="home-banner home-banner-2">
              <div class="home-banner-text">
                <h1>Faceci</h1>
                <a href="#" class="btn btn-danger text-uppercase mt-4">Bydgoszcz</a>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
              <span class="ti-angle-left slider-icon"></span>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="ti-angle-right slider-icon"></span>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </section>
   <!-- End Home -->