@model IceWallOw.Application.Dto.LoginUserDto

@using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
 {
     <section class="vh-60" style="margin-top: 100px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-black">
    
            <div>
    
              <form style="width: 20rem; " method="post">
    
                <h3 class="pb-3" style="letter-spacing: 1px;">Zaloguj się</h3>
    
                <div class="form-outline mb-4">
                  @Html.TextBoxFor(m => m.EMail,new {@class="form-control form-control-lg"})
                  <label class="form-label" >Email</label>
                </div>
    
                <div class="form-outline mb-4">
                @Html.TextBoxFor(m => m.Password,new {@class="form-control form-control-lg"})
                  <label class="form-label">Hasło</label>
                </div>
    
                <div class="pt-4 mb-4">
                  <button class="btn btn-lg" type="submit">Zaloguj się</button>
                </div>
    
              </form>
            </div>
            <div>@ViewData["body_response"]</div>
          </div>
        </div>
      </div>
    </section>
      }